numpy
langgraph
langchain
langchain_community
langchainhub
tiktoken 
langchain-openai
chromadb   
langchain-text-splitters 
beautifulsoup4
tavily-python
pandas
langchain_chroma
scikit-learn
IPython
Pillow
aiosqlite
langgraph-checkpoint-sqlite